@use "@/scss/globalStyles" as g;

.instrument {
  @include g.collapse;
  background-color: lightgray;
  color: black;
  border: none;
  width: 100%;
  height: 100%;
  max-width: 25px;
  max-height: 25px;
  cursor: pointer;

  .icon {
    width: 100%;
    height: 100%;
  }
}
