@use "@/scss/globalStyles" as g;

$button-size: 25px;

.instrument {
  @include g.collapse;
  background-color: lightgray;
  color: black;
  border: none;
  max-width: $button-size;
  max-height: $button-size;
  min-width: $button-size;
  -height: $button-size;
  cursor: pointer;

  .icon {
    width: 100%;
    height: 100%;
  }

  &_active {
    background-color: white;
    outline: lightgrey;
  }
}
