@use "@/scss/globalStyles" as g;

.canvasContainer {
  @include g.v-flex-container(0px, center, center);
  padding: 10px;
  background-color: lightgray;
  max-height: 100vh;
  flex-grow: 1;
}

.canvas {
  display: block;
  // height: auto;
  height: 65vh;
  max-height: 65vh;
  border: 1px solid darkgray;
  image-rendering: pixelated;
}
