@use "@/scss/globalStyles" as g;
@use "sass:math";
@use "@/scss/variables" as v;

$padding: 10px;
$thumbSize: 40px;

.canvasContainer {
  @include g.v-flex-container(0px, center, center);
  max-height: calc(100vh - v.$statusbar-height - v.$action-menu-height);
  padding: 0 10px 10px 0;
  background-color: lightgray;
  flex-grow: 1;
  position: relative;
}

.canvas {
  border: 1px solid darkgray;
  background-color: white;
  width: 100%;
  height: 100%;
}

.scrollTrackX {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 10px;
  height: 10px;
  background: #3c3c3c;
}

.scrollThumbX {
  position: absolute;
  top: 0;
  width: $thumbSize;
  height: 10px;
  background: #888;
  cursor: pointer;
  border: 1px solid black;
  &:hover {
    background: lightgray;
  }
}

.scrollTrackY {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 10px;
  width: 10px;
  background: #3c3c3c;
}

.scrollThumbY {
  position: absolute;
  left: 0;
  width: 10px;
  height: $thumbSize;
  background: #888;
  cursor: pointer;
  border: 1px solid black;
  &:hover {
    background: lightgray;
  }
}
