@use "@/scss/globalStyles" as g;
@use "@/scss/variables" as v;

$padding-h: 20px;
$padding-v: 10px;

.statusBar {
  @include g.h-flex-container(20px, space-between, center);
  @include g.status-bar-text;
  height: v.$statusbar-height;
  width: 100%;
  color: white;
  background-color: gray;
  padding: $padding-v $padding-h;

  .property {
    @include g.collapse();
    @include g.h-flex-container(2px, flex-start, center);

    .propertyName {
      @include g.collapse();
      font-weight: bold;
    }
    .propertyValue {
      @include g.collapse();
    }
  }
}
