$close-modal-size: 35px;

.modal {
  border: none;
  position: relative;
  background-color: white;
  max-width: 500px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 0px;

  &::backdrop {
    background: rgba(0, 0, 0, 0.4);
  }

  .modalContent {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .modalTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .closeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    right: 0%;

    background: none;
    border: none;
    cursor: pointer;

    width: $close-modal-size;
    height: $close-modal-size;
    max-width: $close-modal-size;
    max-height: $close-modal-size;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
