@forward "fonts";
@forward "reset";
@use "./globalStyles.scss" as g;

:root {
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.App {
  font-family: "inter";
  display: flex;
  flex-direction: column;
  height: 100%;
}
